@font-face {
    font-family: popBold;
    src: url(./Font/Poppins-Bold.ttf);
}

.fn1 {
    font-family: popBold;
    color: black;
    font-size: 15px;
}

@font-face {
    font-family: popM;
    src: url(./Font/Poppins-Medium.ttf);
}

.fn2 {
    font-family: popM;
    color: white;
    font-size: 70px;
}

@font-face {
    font-family: popL;
    src: url(./Font/Poppins-Light.ttf);
}
.fn3 {
    font-family: popL;
    color:rgb(11, 0, 0);
}
@font-face {
    font-family: popR;
    src: url(./Font/Poppins-Regular.ttf);
}
.fn4 {
    font-family: popR;
}
@font-face {
    font-family: kepl;
    src: url(./Font/Kepler\ Std\ Bold\ Semicondensed\ Subhead.otf);
}
.fn5 {
    font-family: kepl;
}
.pad3
{
    padding-left: 3%;
    padding-right: 6%;
}
.st1{
    position:absolute;bottom:100px;
    font-family: popR;
    color: rgb(237, 203, 13);
    font-size:30px;
}
.st2{
    position:absolute;bottom:60px;
    font-family:kep1;
    color: rgb(255, 253, 251);
    font-size:55px;
}
.st3{
    position:absolute;bottom:20px;
    font-family:kep1;
    color: rgb(255, 253, 251);
    font-size:28px;
    
}
.he1{
    height: 400px;
}
.pad1
{
    
    padding-right: 2%;
    
}
.pad2
{
    padding-left: 2%;
}
.he2
{
    padding-top:  5cm;

}

.rectangle {
    width: 370px;
    height: 3px;
    background: rgb(221, 153, 69);
  }
    
